<a href="https://colab.research.google.com/github/antonellafontanetto/Etapas-Fracturadas---YPF/blob/main/Etapas_Fracturadas_de_YPF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Etapas Fracturadas de YPF

El presente proyecto pretende hacer una recopilación de datos y análisis exploratorios en relación a la evolución de las etapas fracturadas por pozos petroleros y gasíferos de YPF en los últimos años en Vaca Muerte.

Este análisis pretende continuar con la línea de pensamiento de predecir el crecimiento de YPF en el marco del proyecto 4x4 considerando como principal pilar el crecimiento exponencial de Vaca Muerta en los próximos 4 años.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [6]:
etapasfracturadas = pd.read_csv('/content/datosdefracturadepozos.zip',usecols=['idpozo','anio','mes','empresa_informante','cuenca','areapermisoconcesion','yacimiento','tipo_reservorio','subtipo_reservorio','longitud_rama_horizontal_m','cantidad_fracturas','tipo_terminacion','arena_bombeada_nacional_tn','arena_bombeada_importada_tn','agua_inyectada_m3','co2_inyectado_m3','presion_maxima_psi','potencia_equipos_fractura_hp'])
etapasfracturadas

,idpozo,cuenca,areapermisoconcesion,yacimiento,tipo_reservorio,subtipo_reservorio,longitud_rama_horizontal_m,cantidad_fracturas,tipo_terminacion,arena_bombeada_nacional_tn,arena_bombeada_importada_tn,agua_inyectada_m3,co2_inyectado_m3,presion_maxima_psi,potencia_equipos_fractura_hp,empresa_informante,mes,anio
0,159910,NEUQUINA,AGUA DEL CAJON,AGUA DEL CAJON,NO CONVENCIONAL,SHALE,0.0,3,Punzado,0.0000,0.000,2718.20,0.0,10190.000000,10897.0,CAPEX S.A.,4,2019
1,159910,NEUQUINA,AGUA DEL CAJON,AGUA DEL CAJON,NO CONVENCIONAL,SHALE,0.0,1,Punzado,0.0000,0.000,600.00,0.0,9250.000000,10251.0,CAPEX S.A.,11,2018
2,159219,NEUQUINA,AGUADA DE LA ARENA,AGUADA DE LA ARENA,NO CONVENCIONAL,SHALE,1437.3,18,Tapón disparo,3761.3700,536.850,25768.30,0.0,15000.000000,32000.0,YPF S.A.,11,2017
3,159220,NEUQUINA,AGUADA DE LA ARENA,AGUADA DE LA ARENA,NO CONVENCIONAL,SHALE,1518.3,19,Tapón disparo,3903.7050,558.225,27398.37,0.0,11348.000000,32000.0,YPF S.A.,11,2017
4,159221,NEUQUINA,AGUADA DE LA ARENA,AGUADA DE LA ARENA,NO CONVENCIONAL,SHALE,1482.3,19,Tapón disparo,3949.0200,569.925,27157.60,0.0,11076.000000,32000.0,YPF S.A.,11,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,166315,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3578.0,57,Tapón disparo,13519.5300,0.000,85810.42,0.0,11502.133260,44000.0,YPF S.A.,1,2025
4070,166316,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3352.0,54,Tapón disparo,12444.4350,0.000,81084.12,0.0,12118.146258,44000.0,YPF S.A.,1,2025
4071,166317,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3398.0,56,Tapón disparo,13340.9295,0.000,85118.19,0.0,11361.179928,44000.0,YPF S.A.,1,2025
4072,166325,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.7,42,Tapón disparo,10095.5250,0.000,59930.08,0.0,12169.208061,44000.0,YPF S.A.,2,2025
4073,166326,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.7,42,Tapón disparo,10068.7725,0.000,60196.45,0.0,12391.092216,44000.0,YPF S.A.,2,2025

In [8]:
#Filtro por cada dataset solo los registros para YPF S.A.
ef_ypf = etapasfracturadas[(etapasfracturadas['empresa_informante'] == 'YPF S.A.')&(etapasfracturadas['cuenca'] == 'NEUQUINA')&(etapasfracturadas['anio']>2022)]

ef_ypf

,idpozo,cuenca,areapermisoconcesion,yacimiento,tipo_reservorio,subtipo_reservorio,longitud_rama_horizontal_m,cantidad_fracturas,tipo_terminacion,arena_bombeada_nacional_tn,arena_bombeada_importada_tn,agua_inyectada_m3,co2_inyectado_m3,presion_maxima_psi,potencia_equipos_fractura_hp,empresa_informante,mes,anio
3321,163955,NEUQUINA,RIO NEUQUEN,RIO NEUQUEN,NO CONVENCIONAL,TIGHT,0.00,14,Tapón disparo,0.0000,1538.01,6979.57,0.0,10610.045168,24000.0,YPF S.A.,1,2023
3330,164027,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2435.00,40,Tapón disparo,9006.6465,0.00,54657.22,0.0,12115.159356,40000.0,YPF S.A.,1,2023
3332,164029,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2163.21,35,Tapón disparo,8378.8740,0.00,48242.07,0.0,11565.996071,40000.0,YPF S.A.,1,2023
3334,164031,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,1932.00,31,Tapón disparo,7220.8845,0.00,43538.16,0.0,11908.067478,40000.0,YPF S.A.,1,2023
3375,164108,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2188.00,36,Tapón disparo,8652.0195,0.00,55748.14,0.0,11585.197585,40000.0,YPF S.A.,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,166315,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3578.00,57,Tapón disparo,13519.5300,0.00,85810.42,0.0,11502.133260,44000.0,YPF S.A.,1,2025
4070,166316,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3352.00,54,Tapón disparo,12444.4350,0.00,81084.12,0.0,12118.146258,44000.0,YPF S.A.,1,2025
4071,166317,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3398.00,56,Tapón disparo,13340.9295,0.00,85118.19,0.0,11361.179928,44000.0,YPF S.A.,1,2025
4072,166325,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10095.5250,0.00,59930.08,0.0,12169.208061,44000.0,YPF S.A.,2,2025
4073,166326,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10068.7725,0.00,60196.45,0.0,12391.092216,44000.0,YPF S.A.,2,2025

In [10]:
#Con rename se logró renombrar las columnas que tenían nombres abreviados o poco legibles
ef_ypf=ef_ypf.rename(columns={'anio':'Año','idpozo':'ID pozo','mes':'Mes','empresa_informante':'Empresa informante','cuenca':'Cuenca','areapermisoconcesion':'Área permiso concesión','yacimiento':'Yacimiento','tipo_reservorio':'Tipo reservorio','subtipo_reservorio':'Subtipo reservorio','longitud_rama_horizontal_m':'Longitud rama horizontal (m)','cantidad_fracturas':'Cantidad fracturas','tipo_terminacion':'Tipo terminación','arena_bombeada_nacional_tn':'Arena bombeada nacional (tn)','arena_bombeada_importada_tn':'Arena bombeada importada (tn)','agua_inyectada_m3':'Agua inyectada (m3)','co2_inyectado_m3':'CO2 inyectado (m3)','presion_maxima_psi':'Presión máxima (psi)','potencia_equipos_fractura_hp':'Potencia equipos fractura (hp)'})
ef_ypf

,ID pozo,Cuenca,Área permiso concesión,Yacimiento,Tipo reservorio,Subtipo reservorio,Longitud rama horizontal (m),Cantidad fracturas,Tipo terminación,Arena bombeada nacional (tn),Arena bombeada importada (tn),Agua inyectada (m3),CO2 inyectado (m3),Presión máxima (psi),Potencia equipos fractura (hp),Empresa informante,Mes,Año
3321,163955,NEUQUINA,RIO NEUQUEN,RIO NEUQUEN,NO CONVENCIONAL,TIGHT,0.00,14,Tapón disparo,0.0000,1538.01,6979.57,0.0,10610.045168,24000.0,YPF S.A.,1,2023
3330,164027,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2435.00,40,Tapón disparo,9006.6465,0.00,54657.22,0.0,12115.159356,40000.0,YPF S.A.,1,2023
3332,164029,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2163.21,35,Tapón disparo,8378.8740,0.00,48242.07,0.0,11565.996071,40000.0,YPF S.A.,1,2023
3334,164031,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,1932.00,31,Tapón disparo,7220.8845,0.00,43538.16,0.0,11908.067478,40000.0,YPF S.A.,1,2023
3375,164108,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2188.00,36,Tapón disparo,8652.0195,0.00,55748.14,0.0,11585.197585,40000.0,YPF S.A.,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,166315,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3578.00,57,Tapón disparo,13519.5300,0.00,85810.42,0.0,11502.133260,44000.0,YPF S.A.,1,2025
4070,166316,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3352.00,54,Tapón disparo,12444.4350,0.00,81084.12,0.0,12118.146258,44000.0,YPF S.A.,1,2025
4071,166317,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3398.00,56,Tapón disparo,13340.9295,0.00,85118.19,0.0,11361.179928,44000.0,YPF S.A.,1,2025
4072,166325,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10095.5250,0.00,59930.08,0.0,12169.208061,44000.0,YPF S.A.,2,2025
4073,166326,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10068.7725,0.00,60196.45,0.0,12391.092216,44000.0,YPF S.A.,2,2025

In [12]:
#Vamos a ver que tipo de estructura tiene ef_ypf
type(ef_ypf)

pandas.core.frame.DataFrame

In [13]:
#Con la función shape podemos ver la cantidad de observaciones y feature que contiene el dataframe ef_ypf
ef_ypf.shape

(374, 18)

In [14]:
#Con la función columns podemos ver el nombre de todos los features que contiene el dataframe ef_ypf
ef_ypf.columns

Index(['ID pozo', 'Cuenca', 'Área permiso concesión', 'Yacimiento',
       'Tipo reservorio', 'Subtipo reservorio', 'Longitud rama horizontal (m)',
       'Cantidad fracturas', 'Tipo terminación',
       'Arena bombeada nacional (tn)', 'Arena bombeada importada (tn)',
       'Agua inyectada (m3)', 'CO2 inyectado (m3)', 'Presión máxima (psi)',
       'Potencia equipos fractura (hp)', 'Empresa informante', 'Mes', 'Año'],
      dtype='object')

In [15]:
#A través de la función head() puedo visualizar las primeras 5 observaciones del dataframe
ef_ypf.head()

,ID pozo,Cuenca,Área permiso concesión,Yacimiento,Tipo reservorio,Subtipo reservorio,Longitud rama horizontal (m),Cantidad fracturas,Tipo terminación,Arena bombeada nacional (tn),Arena bombeada importada (tn),Agua inyectada (m3),CO2 inyectado (m3),Presión máxima (psi),Potencia equipos fractura (hp),Empresa informante,Mes,Año
3321,163955,NEUQUINA,RIO NEUQUEN,RIO NEUQUEN,NO CONVENCIONAL,TIGHT,0.00,14,Tapón disparo,0.0000,1538.01,6979.57,0.0,10610.045168,24000.0,YPF S.A.,1,2023
3330,164027,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2435.00,40,Tapón disparo,9006.6465,0.00,54657.22,0.0,12115.159356,40000.0,YPF S.A.,1,2023
3332,164029,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,2163.21,35,Tapón disparo,8378.8740,0.00,48242.07,0.0,11565.996071,40000.0,YPF S.A.,1,2023
3334,164031,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA,NO CONVENCIONAL,SHALE,1932.00,31,Tapón disparo,7220.8845,0.00,43538.16,0.0,11908.067478,40000.0,YPF S.A.,1,2023
3375,164108,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2188.00,36,Tapón disparo,8652.0195,0.00,55748.14,0.0,11585.197585,40000.0,YPF S.A.,1,2023

In [16]:
#Mientras que con la función tail(10) puedo observar los últimos 10 registros de información del dataset ef_ypf
ef_ypf.tail(10)

,ID pozo,Cuenca,Área permiso concesión,Yacimiento,Tipo reservorio,Subtipo reservorio,Longitud rama horizontal (m),Cantidad fracturas,Tipo terminación,Arena bombeada nacional (tn),Arena bombeada importada (tn),Agua inyectada (m3),CO2 inyectado (m3),Presión máxima (psi),Potencia equipos fractura (hp),Empresa informante,Mes,Año
4064,166321,NEUQUINA,BANDURRIA SUR,BANDURRIA SUR,NO CONVENCIONAL,SHALE,2851.30,40,Tapón disparo,9492.6600,0.0,56864.97,0.0,13215.192727,44000.0,YPF S.A.,1,2025
4065,166322,NEUQUINA,BANDURRIA SUR,BANDURRIA SUR,NO CONVENCIONAL,SHALE,2868.00,51,Tapón disparo,12376.4400,0.0,84701.15,0.0,12294.089015,44000.0,YPF S.A.,1,2025
4066,166323,NEUQUINA,BANDURRIA SUR,BANDURRIA SUR,NO CONVENCIONAL,SHALE,2944.00,49,Tapón disparo,11633.4450,0.0,69776.93,0.0,11762.135975,44000.0,YPF S.A.,1,2025
4067,166324,NEUQUINA,BANDURRIA SUR,BANDURRIA SUR,NO CONVENCIONAL,SHALE,2967.00,57,Tapón disparo,13392.1350,0.0,90429.70,0.0,11927.126758,44000.0,YPF S.A.,1,2025
4068,166314,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3499.35,52,Tapón disparo,12096.5085,0.0,78858.29,0.0,13073.101527,44000.0,YPF S.A.,1,2025
4069,166315,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3578.00,57,Tapón disparo,13519.5300,0.0,85810.42,0.0,11502.133260,44000.0,YPF S.A.,1,2025
4070,166316,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3352.00,54,Tapón disparo,12444.4350,0.0,81084.12,0.0,12118.146258,44000.0,YPF S.A.,1,2025
4071,166317,NEUQUINA,LA AMARGA CHICA,LA AMARGA CHICA,NO CONVENCIONAL,SHALE,3398.00,56,Tapón disparo,13340.9295,0.0,85118.19,0.0,11361.179928,44000.0,YPF S.A.,1,2025
4072,166325,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10095.5250,0.0,59930.08,0.0,12169.208061,44000.0,YPF S.A.,2,2025
4073,166326,NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,NO CONVENCIONAL,SHALE,2547.70,42,Tapón disparo,10068.7725,0.0,60196.45,0.0,12391.092216,44000.0,YPF S.A.,2,2025

In [17]:
#Con dtypes podemos visualizar el tipo de dato de cada feature del dataset, el mismo contiene datos enteros, flotantes y objeto
ef_ypf.dtypes

ID pozo                             int64
Cuenca                             object
Área permiso concesión             object
Yacimiento                         object
Tipo reservorio                    object
Subtipo reservorio                 object
Longitud rama horizontal (m)      float64
Cantidad fracturas                  int64
Tipo terminación                   object
Arena bombeada nacional (tn)      float64
Arena bombeada importada (tn)     float64
Agua inyectada (m3)               float64
CO2 inyectado (m3)                float64
Presión máxima (psi)              float64
Potencia equipos fractura (hp)    float64
Empresa informante                 object
Mes                                 int64
Año                                 int64
dtype: object

In [18]:
#Vamos a ver si el dataset presenta datos faltantes con la función isnull().sum() , el resultado nos arroja que el dataset no contiene datos faltantes
datosfaltantes=ef_ypf.isnull().sum()
datosfaltantes

ID pozo                           0
Cuenca                            0
Área permiso concesión            0
Yacimiento                        0
Tipo reservorio                   0
Subtipo reservorio                0
Longitud rama horizontal (m)      0
Cantidad fracturas                0
Tipo terminación                  0
Arena bombeada nacional (tn)      0
Arena bombeada importada (tn)     0
Agua inyectada (m3)               0
CO2 inyectado (m3)                0
Presión máxima (psi)              0
Potencia equipos fractura (hp)    0
Empresa informante                0
Mes                               0
Año                               0
dtype: int64

In [23]:
#Aplicamos la función describe para poder visualizar la estadistica descriptiva de algunas features en particular
ef_ypf[['Cantidad fracturas','Arena bombeada nacional (tn)','Arena bombeada importada (tn)','Agua inyectada (m3)','CO2 inyectado (m3)','Presión máxima (psi)','Potencia equipos fractura (hp)']].describe()

,Cantidad fracturas,Arena bombeada nacional (tn),Arena bombeada importada (tn),Agua inyectada (m3),CO2 inyectado (m3),Presión máxima (psi),Potencia equipos fractura (hp)
count,374.000000,374.000000,374.000000,374.000000,374.0,374.000000,374.000000
mean,42.799465,9823.196273,78.616925,60475.822299,0.0,12263.602856,40299.465241
std,13.080895,3449.630624,326.240798,21158.622212,0.0,10259.176378,4987.507152
min,10.000000,0.000000,0.000000,4553.000000,0.0,7339.956310,20000.000000
25%,35.000000,8177.538375,0.000000,49486.070000,0.0,11457.436404,40000.000000
50%,44.000000,10226.087100,0.000000,62125.595000,0.0,11713.705491,40000.000000
75%,50.000000,11904.474375,0.000000,71654.472500,0.0,12017.409429,44000.000000
max,87.000000,16787.655000,1672.020000,141633.630000,0.0,209640.559334,44000.000000

In [27]:
#Se utiliza la función groupby para calcular la media de las variables anteriores a partir del año 2023 por mes
ef_ypf.groupby(['Año','Mes'])[
    ['Cantidad fracturas', 'Arena bombeada nacional (tn)', 'Arena bombeada importada (tn)',
     'Agua inyectada (m3)', 'CO2 inyectado (m3)', 'Presión máxima (psi)', 'Potencia equipos fractura (hp)']
].mean()

          Cantidad fracturas  Arena bombeada nacional (tn)  \
Año  Mes
2023 1             36.428571                   8415.869271
     2             44.818182                  10099.806177
     3             39.538462                   8687.298254
     4             46.285714                  10262.585507
     5             40.812500                   9199.497459
     6             42.615385                   9865.070308
     7             45.666667                  10161.943825
     8             48.857143                  11155.673121
     9             36.846154                   8218.222567
     10            35.434783                   8262.472520
     11            50.000000                  11981.042663
     12            50.666667                  11657.382997
2024 1             46.000000                  10099.079831
     2             38.944444                   8531.234950
     3             46.200000                  10464.190501
     4             44.000000                  10153.257084
     5             29.578947                   6680.981842
     6             47.222222                  10598.964400
     7             46.400000                  11031.747300
     8             38.944444                   9330.738175
     9             45.210526                  10733.664600
     10            51.941176                  12333.936574
     11            46.888889                  11179.640300
     12            52.363636                  11973.730500
2025 1             43.500000                  10375.408125
     2             42.000000                  10082.148750

          Arena bombeada importada (tn)  Agua inyectada (m3)  \
Año  Mes
2023 1                        73.238571         51962.845714
     2                       102.090909         64527.371818
     3                       240.487308         62331.427692
     4                       107.971071         65984.602857
     5                        84.312500         57981.517500
     6                         0.000000         60190.582308
     7                       175.462500         61562.405000
     8                       119.430000         68171.666429
     9                       126.408462         50403.085385
     10                       70.456304         50039.883913
     11                        0.000000         70221.767500
     12                        0.000000         70826.698333
2024 1                        70.981875         65450.031250
     2                        75.747500         54986.516667
     3                       144.377333         63082.095333
     4                        93.896800         60558.768000
     5                       143.263158         40143.331053
     6                       325.155000         64307.650000
     7                         0.000000         64889.739000
     8                         0.000000         55983.987222
     9                         0.000000         63896.084737
     10                        0.000000         74152.207647
     11                        0.000000         66912.656667
     12                        0.000000         73566.108182
2025 1                         0.000000         64834.501000
     2                         0.000000         60063.265000

          CO2 inyectado (m3)  Presión máxima (psi)  \
Año  Mes
2023 1                   0.0          11712.882569
     2                   0.0          11788.397439
     3                   0.0          11507.182547
     4                   0.0          25921.865372
     5                   0.0          11768.136448
     6                   0.0          11897.673496
     7                   0.0          12234.635439
     8                   0.0          12076.512500
     9                   0.0          11859.751875
     10                  0.0          11829.925666
     11                  0.0          11531.646697
     12                  0.0          11211.076245
2024 1                   0.0          11654.599946
     2                   0.0          11565.190082
     3                   0.0          11524.435462
     4                   0.0          11505.575309
     5                   0.0          11457.817044
     6                   0.0          11079.336478
     7                   0.0          11815.345503
     8                   0.0          11639.198878
     9                   0.0          11746.138457
     10                  0.0          11787.620860
     11                  0.0          11806.813077
     12                  0.0          11926.027681
2025 1                   0.0          12036.689171
     2                   0.0          12280.150138

          Potencia equipos fractura (hp)
Año  Mes
2023 1                      39238.095238
     2                      38181.818182
     3                      36923.076923
     4                      38571.428571
     5                      38750.000000
     6                      41538.461538
     7                      38888.888889
     8                      38571.428571
     9                      38461.538462
     10                     39304.347826
     11                     40000.000000
     12                     36000.000000
2024 1                      38750.000000
     2                      39333.333333
     3                      37866.666667
     4                      40000.000000
     5                      38736.842105
     6                      39111.111111
     7                      44000.000000
     8                      44000.000000
     9                      42947.368421
     10                     44000.000000
     11                     44000.000000
     12                     44000.000000
2025 1                      44000.000000
     2                      44000.000000

In [28]:
#Se utiliza la función groupby para calcular la suma de las variables anteriores a partir del año 2023 por mes
ef_ypf.groupby(['Año','Mes'])[
    ['Cantidad fracturas', 'Arena bombeada nacional (tn)', 'Arena bombeada importada (tn)',
     'Agua inyectada (m3)', 'CO2 inyectado (m3)', 'Presión máxima (psi)', 'Potencia equipos fractura (hp)']
].sum()

          Cantidad fracturas  Arena bombeada nacional (tn)  \
Año  Mes
2023 1                   765                 176733.254700
     2                   493                 111097.867950
     3                   514                 112934.877300
     4                   648                 143676.197100
     5                   653                 147191.959350
     6                   554                 128245.914000
     7                   822                 182914.988850
     8                   684                 156179.423700
     9                   479                 106836.893370
     10                  815                 190036.867950
     11                  200                  47924.170650
     12                  304                  69944.297985
2024 1                   736                 161585.277300
     2                   701                 153562.229100
     3                   693                 156962.857516
     4                  1100                 253831.427106
     5                   562                 126938.655000
     6                   425                  95390.679600
     7                   464                 110317.473000
     8                   701                 167953.287150
     9                   859                 203939.627400
     10                  883                 209676.921750
     11                  422                 100616.762700
     12                  576                 131711.035500
2025 1                   870                 207508.162500
     2                    84                  20164.297500

          Arena bombeada importada (tn)  Agua inyectada (m3)  \
Año  Mes
2023 1                         1538.010           1091219.76
     2                         1123.000            709801.09
     3                         3126.335            810308.56
     4                         1511.595            923784.44
     5                         1349.000            927704.28
     6                            0.000            782477.57
     7                         3158.325           1108123.29
     8                         1672.020            954403.33
     9                         1643.310            655240.11
     10                        1620.495           1150917.33
     11                           0.000            280887.07
     12                           0.000            424960.19
2024 1                         1135.710           1047200.50
     2                         1363.455            989757.30
     3                         2165.660            946231.43
     4                         2347.420           1513969.20
     5                         2722.000            762723.29
     6                         2926.395            578768.85
     7                            0.000            648897.39
     8                            0.000           1007711.77
     9                            0.000           1214025.61
     10                           0.000           1260587.53
     11                           0.000            602213.91
     12                           0.000            809227.19
2025 1                            0.000           1296690.02
     2                            0.000            120126.53

          CO2 inyectado (m3)  Presión máxima (psi)  \
Año  Mes
2023 1                   0.0         245970.533958
     2                   0.0         129672.371831
     3                   0.0         149593.373107
     4                   0.0         362906.115214
     5                   0.0         188290.183173
     6                   0.0         154669.755448
     7                   0.0         220223.437906
     8                   0.0         169071.175006
     9                   0.0         154176.774369
     10                  0.0         272088.290326
     11                  0.0          46126.586789
     12                  0.0          67266.457469
2024 1                   0.0         186473.599133
     2                   0.0         208173.421473
     3                   0.0         172866.531932
     4                   0.0         287639.382723
     5                   0.0         217698.523833
     6                   0.0          99714.028306
     7                   0.0         118153.455027
     8                   0.0         209505.579806
     9                   0.0         223176.630686
     10                  0.0         200389.554618
     11                  0.0         106261.317693
     12                  0.0         131186.304492
2025 1                   0.0         240733.783422
     2                   0.0          24560.300277

          Potencia equipos fractura (hp)
Año  Mes
2023 1                          824000.0
     2                          420000.0
     3                          480000.0
     4                          540000.0
     5                          620000.0
     6                          540000.0
     7                          700000.0
     8                          540000.0
     9                          500000.0
     10                         904000.0
     11                         160000.0
     12                         216000.0
2024 1                          620000.0
     2                          708000.0
     3                          568000.0
     4                         1000000.0
     5                          736000.0
     6                          352000.0
     7                          440000.0
     8                          792000.0
     9                          816000.0
     10                         748000.0
     11                         396000.0
     12                         484000.0
2025 1                          880000.0
     2                           88000.0

In [31]:
#Se utiliza la función groupby para calcular la suma de las variables anteriores a partir del año 2023 por mes
ef_ypf.groupby(['Año','Mes','ID pozo'])[
    ['Cantidad fracturas', 'Arena bombeada nacional (tn)', 'Arena bombeada importada (tn)',
     'Agua inyectada (m3)', 'CO2 inyectado (m3)', 'Presión máxima (psi)', 'Potencia equipos fractura (hp)']
].sum()

                  Cantidad fracturas  Arena bombeada nacional (tn)  \
Año  Mes ID pozo
2023 1   163955                   14                        0.0000
         164027                   40                     9006.6465
         164029                   35                     8378.8740
         164031                   31                     7220.8845
         164108                   36                     8652.0195
...                              ...                           ...
2025 1   166322                   51                    12376.4400
         166323                   49                    11633.4450
         166324                   57                    13392.1350
     2   166325                   42                    10095.5250
         166326                   42                    10068.7725

                  Arena bombeada importada (tn)  Agua inyectada (m3)  \
Año  Mes ID pozo
2023 1   163955                         1538.01              6979.57
         164027                            0.00             54657.22
         164029                            0.00             48242.07
         164031                            0.00             43538.16
         164108                            0.00             55748.14
...                                         ...                  ...
2025 1   166322                            0.00             84701.15
         166323                            0.00             69776.93
         166324                            0.00             90429.70
     2   166325                            0.00             59930.08
         166326                            0.00             60196.45

                  CO2 inyectado (m3)  Presión máxima (psi)  \
Año  Mes ID pozo
2023 1   163955                  0.0          10610.045168
         164027                  0.0          12115.159356
         164029                  0.0          11565.996071
         164031                  0.0          11908.067478
         164108                  0.0          11585.197585
...                              ...                   ...
2025 1   166322                  0.0          12294.089015
         166323                  0.0          11762.135975
         166324                  0.0          11927.126758
     2   166325                  0.0          12169.208061
         166326                  0.0          12391.092216

                  Potencia equipos fractura (hp)
Año  Mes ID pozo
2023 1   163955                          24000.0
         164027                          40000.0
         164029                          40000.0
         164031                          40000.0
         164108                          40000.0
...                                          ...
2025 1   166322                          44000.0
         166323                          44000.0
         166324                          44000.0
     2   166325                          44000.0
         166326                          44000.0

[374 rows x 7 columns]

In [40]:
#Se utiliza la función groupby para calcular la suma de las variables anteriores a partir del año 2023 por mes
ef_ypf[ef_ypf['Año'] >= 2023].groupby(['Área permiso concesión','Año'])[
    ['Cantidad fracturas', 'Arena bombeada nacional (tn)', 'Arena bombeada importada (tn)',
     'Agua inyectada (m3)', 'CO2 inyectado (m3)', 'Presión máxima (psi)', 'Potencia equipos fractura (hp)']
].sum().sort_values(by='Cantidad fracturas', ascending=False)

                                    Cantidad fracturas  \
Área permiso concesión        Año
LOMA CAMPANA                  2024                2730
LA AMARGA CHICA               2023                1977
LOMA CAMPANA                  2023                1869
BANDURRIA SUR                 2024                1777
LA AMARGA CHICA               2024                1526
BANDURRIA SUR                 2023                1419
AGUADA DEL CHAÑAR             2024                 954
LA ANGOSTURA SUR I            2024                 894
BANDURRIA SUR                 2025                 446
LA AMARGA CHICA               2025                 424
RINCON DEL MANGRULLO          2023                 409
AGUADA DEL CHAÑAR             2023                 395
AGUADA DE LA ARENA            2023                 312
BAJO DEL TORO NORTE           2023                 160
RIO NEUQUEN                   2023                 155
                              2024                 130
EL OREJANO                    2023                 114
LOMA CAMPANA                  2025                  84
LOMA AMARILLA SUR             2023                  64
BAJO DEL TORO NORTE           2024                  58
LOMA LA LATA - SIERRA BARROSA 2024                  53
LAS TACANAS                   2023                  32
CN VII A                      2023                  13
PASO DE LAS BARDAS NORTE      2023                  12

                                    Arena bombeada nacional (tn)  \
Área permiso concesión        Año
LOMA CAMPANA                  2024                 626814.504450
LA AMARGA CHICA               2023                 457652.551005
LOMA CAMPANA                  2023                 431927.375400
BANDURRIA SUR                 2024                 418621.702950
LA AMARGA CHICA               2024                 365425.165800
BANDURRIA SUR                 2023                 331356.263400
AGUADA DEL CHAÑAR             2024                 227522.212672
LA ANGOSTURA SUR I            2024                 207809.147250
BANDURRIA SUR                 2025                 107145.360000
LA AMARGA CHICA               2025                 100362.802500
RINCON DEL MANGRULLO          2023                  92168.800650
AGUADA DEL CHAÑAR             2023                  93502.116450
AGUADA DE LA ARENA            2023                  73910.092950
BAJO DEL TORO NORTE           2023                  37438.481700
RIO NEUQUEN                   2023                      0.000000
                              2024                      0.000000
EL OREJANO                    2023                  27225.807300
LOMA CAMPANA                  2025                  20164.297500
LOMA AMARILLA SUR             2023                  15141.987000
BAJO DEL TORO NORTE           2024                  13538.025000
LOMA LA LATA - SIERRA BARROSA 2024                  12755.475000
LAS TACANAS                   2023                   7619.625000
CN VII A                      2023                   2956.904550
PASO DE LAS BARDAS NORTE      2023                   2816.707500

                                    Arena bombeada importada (tn)  \
Área permiso concesión        Año
LOMA CAMPANA                  2024                           0.00
LA AMARGA CHICA               2023                           0.00
LOMA CAMPANA                  2023                           0.00
BANDURRIA SUR                 2024                           0.00
LA AMARGA CHICA               2024                           0.00
BANDURRIA SUR                 2023                           0.00
AGUADA DEL CHAÑAR             2024                           0.00
LA ANGOSTURA SUR I            2024                           0.00
BANDURRIA SUR                 2025                           0.00
LA AMARGA CHICA               2025                           0.00
RINCON DEL MANGRULLO          2023                           0.00
AGUADA DEL CHAÑAR             2023                           0.00
AGUADA DE LA ARENA            2023                           0.00
BAJO DEL TORO NORTE           2023                           0.00
RIO NEUQUEN                   2023                       16742.09
                              2024                       12660.64
EL OREJANO                    2023                           0.00
LOMA CAMPANA                  2025                           0.00
LOMA AMARILLA SUR             2023                           0.00
BAJO DEL TORO NORTE           2024                           0.00
LOMA LA LATA - SIERRA BARROSA 2024                           0.00
LAS TACANAS                   2023                           0.00
CN VII A                      2023                           0.00
PASO DE LAS BARDAS NORTE      2023                           0.00

                                    Agua inyectada (m3)  CO2 inyectado (m3)  \
Área permiso concesión        Año
LOMA CAMPANA                  2024           3916589.76                 0.0
LA AMARGA CHICA               2023           2828361.46                 0.0
LOMA CAMPANA                  2023           2734943.08                 0.0
BANDURRIA SUR                 2024           2505589.80                 0.0
LA AMARGA CHICA               2024           2145798.50                 0.0
BANDURRIA SUR                 2023           2031763.22                 0.0
AGUADA DEL CHAÑAR             2024           1342514.42                 0.0
LA ANGOSTURA SUR I            2024           1249422.38                 0.0
BANDURRIA SUR                 2025            672735.31                 0.0
LA AMARGA CHICA               2025            623954.71                 0.0
RINCON DEL MANGRULLO          2023            607808.58                 0.0
AGUADA DEL CHAÑAR             2023            556410.13                 0.0
AGUADA DE LA ARENA            2023            434198.57                 0.0
BAJO DEL TORO NORTE           2023            220430.77                 0.0
RIO NEUQUEN                   2023             75798.83                 0.0
                              2024             63334.00                 0.0
EL OREJANO                    2023            159497.42                 0.0
LOMA CAMPANA                  2025            120126.53                 0.0
LOMA AMARILLA SUR             2023             89377.44                 0.0
BAJO DEL TORO NORTE           2024             83028.09                 0.0
LOMA LA LATA - SIERRA BARROSA 2024             75037.02                 0.0
LAS TACANAS                   2023             46094.74                 0.0
CN VII A                      2023             18230.91                 0.0
PASO DE LAS BARDAS NORTE      2023             16911.87                 0.0

                                    Presión máxima (psi)  \
Área permiso concesión        Año
LOMA CAMPANA                  2024         659470.311641
LA AMARGA CHICA               2023         735787.630019
LOMA CAMPANA                  2023         484477.652986
BANDURRIA SUR                 2024         479992.037210
LA AMARGA CHICA               2024         440370.212012
BANDURRIA SUR                 2023         376382.946341
AGUADA DEL CHAÑAR             2024         233116.614151
LA ANGOSTURA SUR I            2024         211231.440282
BANDURRIA SUR                 2025         122565.393885
LA AMARGA CHICA               2025         118168.389537
RINCON DEL MANGRULLO          2023          97285.250204
AGUADA DEL CHAÑAR             2023          93224.343458
AGUADA DE LA ARENA            2023          95145.632671
BAJO DEL TORO NORTE           2023          47240.559036
RIO NEUQUEN                   2023         129192.333984
                              2024         101965.312902
EL OREJANO                    2023          34137.304021
LOMA CAMPANA                  2025          24560.300277
LOMA AMARILLA SUR             2023          22894.035609
BAJO DEL TORO NORTE           2024          23587.281362
LOMA LA LATA - SIERRA BARROSA 2024          11505.120162
LAS TACANAS                   2023          24100.317354
CN VII A                      2023          10126.024796
PASO DE LAS BARDAS NORTE      2023          10061.024117

                                    Potencia equipos fractura (hp)
Área permiso concesión        Año
LOMA CAMPANA                  2024                       2352000.0
LA AMARGA CHICA               2023                       1844000.0
LOMA CAMPANA                  2023                       1628000.0
BANDURRIA SUR                 2024                       1716000.0
LA AMARGA CHICA               2024                       1588000.0
BANDURRIA SUR                 2023                       1288000.0
AGUADA DEL CHAÑAR             2024                        848000.0
LA ANGOSTURA SUR I            2024                        792000.0
BANDURRIA SUR                 2025                        440000.0
LA AMARGA CHICA               2025                        440000.0
RINCON DEL MANGRULLO          2023                        320000.0
AGUADA DEL CHAÑAR             2023                        320000.0
AGUADA DE LA ARENA            2023                        320000.0
BAJO DEL TORO NORTE           2023                        160000.0
RIO NEUQUEN                   2023                        228000.0
                              2024                        232000.0
EL OREJANO                    2023                        120000.0
LOMA CAMPANA                  2025                         88000.0
LOMA AMARILLA SUR             2023                         80000.0
BAJO DEL TORO NORTE           2024                         88000.0
LOMA LA LATA - SIERRA BARROSA 2024                         44000.0
LAS TACANAS                   2023                         80000.0
CN VII A                      2023                         28000.0
PASO DE LAS BARDAS NORTE      2023                         28000.0